page-login {
    ion-navbar.toolbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
}


ion-content img {
    max-width: 100%;
    border: 0;
    margin: 50px 0;

 -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-delay: 1s;

}

@keyframes example {
    
    0%   { margin-top:0px; opacity:.5;}

    100% { margin-top:50px; opacity: 1;}
}

.button-outline-md {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}


ion-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  ion-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ion-item.item {
    
    .label {
      width: 10%;
      color: rgba(0, 0, 0, 0.6);
      font-size: 1.2em;
    }
  }



}

